{% extends 'base.html' %}


{% load static %}

{% load tailwind_filters %}

{% block content %}

<div class="max-w-lg mx-auto my-6 border px-12 py-12">

    <form action="" method="POST">

        {% csrf_token %}
    
        {{form|crispy}}
    
        <div>
            <button class="w-full bg-indigo-500 text-white hover:bg-indigo-700 px-3 py-2 my-2 rounded-md" type="submit">Sign up</button>
        </div>
    
    
    </form>

    <div class="my-3 py-3 border-t py-2 border-grey-200 flex justify-center">
        <p>Already have an account? <a class="hover:text-indigo-700 text-indigo-500 underline decoration-indigo-500 " href="{% url 'login' %}" href="{% url 'login' %}">Log in here</a></p>
    </div>

</div>


{% endblock content %}