/* 
body{
    margin: 0;
    padding: 0;
    background: rgb(231, 245, 231);
}

header{
    text-align: center;
    padding: 15px;
}

h1{
    text-align: center;
}

.main-wrap{

    max-width: 500px;
    margin: auto;
    background: yellow;
}

.main-head{

    text-align: center;
}

.main-wrap ul{

    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{

    padding: 30px;
    border: 1px solid;
    background: rgb(189, 194, 193);
    
}

form{

    width: 500px;
    padding: 30px;
    background: rgb(157, 156, 156);
    margin: auto;

}


nav ul{

    display: flex;
    justify-content: center;
    gap: 20px;
    background: rgb(145, 165, 97);
}

nav li{

    list-style-type: none;
}


nav a{

    display: inline-block;
    padding: 12px 16px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    
    
}

nav a:hover{

   color: rgb(1, 43, 3);
}


img{
    width: 200px;
} */