

{% extends 'base.html' %}

{% load static %}



{% block content %}

<div class="">

    <div class="w-2/5 m-auto px-8">
        <h1 class="text-2xl my-2">Confirm Delete</h1>

    
    </div>


  

   <div class="max-w-lg mx-auto my-6 border px-12 py-12">
    <form action="" method="POST">
    
        {% csrf_token %}
        <div class="my-3">
        Are you sure you want to delete {{lead}}? </h3>
        <p>This action cannot be undone.</p>
    
        </div>
        <div class="flex flex-col gap-3">
            <!-- <input style="background: red; color:white; padding:8px" type="submit" value="Yes! delete data"> -->
            <button class="w-full bg-red-600 text-white hover:bg-red-700 px-3 py-2 my-2 rounded-md " type="submit">Yes! Delete permanently</button>
        <a  href="{% url 'leads:lead-detail' lead.pk %}" class="w-full text-center text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"> No! I changed my mind</a>
        </div>
        
    </form>
   </div>
    

</div>
    
{% endblock content %}
    