<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Confirm Delete</h1>

    <form action="" method="POST">

        {% csrf_token %}
        <h3>Are you sure you want to delete {{agent}} ? </h3>
        <p>This action cannot be undone</p>

        <div style="display: flex; gap:20px;">
            <input style="background: red; color:white; padding:8px" type="submit" value="Yes! delete data">

        <a href="{% url 'agents:agent-detail' agent.pk %}"> No! I change my mind</a>
        </div>
        
    </form>

    
</body>
</html>